<table>
  <caption>
    <h3 class="title-caption" style="color: white">Danh sách</h3>
  </caption>
  <thead>
    <tr>
      <th>Tên</th>
      <th>Nghệ sĩ</th>
      <th>Ảnh</th>
      <th>File audio</th>
      <th>Điều khiển</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5">Không có gì.</td>
    </tr>
  </tbody>
  <tfoot>
    <td colspan="5" class="tablefoot"></td>
  </tfoot>
</table>
