<nav class="sidebar">
  <div class="text">Nhachay.com</div>
  <ul>
    <li>
      <a href="/home"><i class="fa fa-home"></i> Home</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-user"></i> Account</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-hands-helping"></i> Help</a>
    </li>
    <li>
      <a href="/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
    </li>

    <% if (user.role=="admin") { %>
    <li>
      <a href="/admin"><i class="fa fa-user-secret"></i> Admin</a>
    </li>
    <% } %>
  </ul>
</nav>
